<div class="w-full">
  <nav class="flex mb-6" aria-label="Breadcrumb">
    <ol role="list" class="flex items-center space-x-4">
      <li>
        <div>
          <%= link_to root_path, class: "text-gray-400 hover:text-gray-500" do %>
            <svg class="size-5 shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Home</span>
          <% end %>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="size-5 shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
          </svg>
          <%= link_to "Message Board", messages_path, class: "ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" %>
        </div>
      </li>
    </ol>
  </nav>

  <div class="min-w-0 mb-6">
    <h1 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"><%= @message.title %></h1>
  </div>

  <div class="mt-2 text-sm text-gray-700"><%= @message.body %></div>

  <div class="flow-root">
    <ul role="list" class="-mb-8">
      <% @message.comments.each do |comment| %>
        <li>
          <div class="relative py-8 border-t">
            <div class="relative flex items-start space-x-3">
              <div>
                <div class="relative px-1">
                  <div class="flex size-8 items-center justify-center rounded-full bg-gray-100 ring-8 ring-white">
                    <svg class="size-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-5.5-2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0ZM10 12a5.99 5.99 0 0 0-4.793 2.39A6.483 6.483 0 0 0 10 16.5a6.483 6.483 0 0 0 4.793-2.11A5.99 5.99 0 0 0 10 12Z" clip-rule="evenodd" />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="min-w-0 flex-1">
                <div>
                  <p class="mt-0.5 text-xs text-gray-500"><%= comment.created_at %></p>
                  <div class="text-sm">
                    <a href="#" class="font-medium text-gray-900"><%= comment.author.email %></a>
                  </div>
                </div>
                <div class="mt-2 text-sm text-gray-700">
                  <p><%= comment.body %></p>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>


  <%= form_with(model: [ @message, @message.comments.build ], local: true, class: "flex flex-col space-y-4 mb-6 border-t mt-10") do |form| %>
    <div>
      <div class="mt-2">
        <%= form.rich_text_area :body, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6", placeholder: "Add a coment here..." %>
      </div>
    </div>

    <div>
      <%= form.submit "Post comment", class: "inline-flex items-center rounded-full bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500" %>
    </div>
  <% end %>
</div>